body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    color: #ffffff;
}

#current-song {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

#time {
    font-size: 1rem;
}
